





html { 
    background: url(pic.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


header{
    padding: 45px 0;
    margin-bottom: 40px;
}




.container{
    width: 100%;
    float:left;
    margin: 0 auto;
    /**border: 2px solid magenta;**/


}

.center{
    margin-left: 20%;
}

.forward{
    margin-left: 25%;


}

.backward{
    margin-left: 25%;


}






